nav{
    font-size: 1.5rem;
    background-color: darkgray;
    color: floralwhite;
    
}
.navbar-light .navbar-brand {
    color:floralwhite;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: floralwhite;
}
.bg-light {
    background-color: #5a5d5f!important;
}
.btn-success {
    color: floralwhite;
    background-color: #5a5d5f;
    border-color: #5a5d5f;
}

body{
    background-color: #fffeba;
}
